/*====================FONTS END=======================*/
  /*====================RESET START=======================*/
  
  /* http://meyerweb.com/eric/tools/css/reset/ 
     v2.0 | 20110126
     License: none (public domain)
  */
  
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  
  ol,
  ul {
    list-style: none;
  }
  
  blockquote,
  q {
    quotes: none;
  }
  
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  /*====================RESET END=======================*/

  /*====================COMMON START=======================*/
  :root{
    --blue:#0010a0;
  }
  
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 1000px; /*dev only*/
    line-height: 1.17;
    background: #333;
  }

  a {
    display: inline-flex;
    text-decoration: none;
    color: inherit;
  }
  .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
  }
  .section {
    margin-top: 100px;
  }
/*====================COMMON END=======================*/

/*====================HEADER START=======================*/
.header{
    display: flex;
    justify-content: space-around;
    background: url('../img/marvel.webp') 0 37% /cover no-repeat;
    color: #fff;
    padding: 10px 0;
    position: sticky;
}
.header-logo{
  background-color: red;
  color:#fff;
  border-radius: 3px;
  padding: 2px 5px;
}
.search-form-input,.search-form-btn{
    border-radius: 4px;
    border: 1px solid black;
}
.search-form-btn:hover{
    background: linear-gradient(to right, #00ff00 0%, #66ff66 100%);
}
.header-img{
    width: 100%;
    height: 100%;
}
/*====================HEADER END=======================*/

.navbar_and_content{
  display: flex;
}
.navbar{
    width: 135px;
    background-color: #262626;
    color: #CAC8C8;
}
.navbar-nav>li:hover{
  color:#cc9c3b
}
.navbar-nav-genre>li:hover{
  color:#cc9c3b
}
.navbar_and_content{
  display: flex;
}
.navbar-nav,.navbar-nav-genre{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding: 5px 15px;
  font-size: 11px;
  border-bottom: 1px #eee solid;
}
.navbar-nav-genre>li:first-child{
  text-align: center;
  font-weight: bold;
  color:#fff;
  padding-bottom: 5px;
    
}
.content-main{
  display: flex;
  gap: 30px;
  margin: 10px 10px 0 10px;

}
.content-main-img{
  height: 150px;
  width: 100px;
  object-fit: cover;
}
.content-main-info{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100px;
  background: #1e1e1e;
  text-align: center;
  padding: 8px;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: -4px;
}
.main-title{
  font-size: 10px;
}
.main-info{
  font-size: 8px;
}
.content{
  margin: 10px 10px 0 10px;
}
h1.title{
  color: #fff;
  font-size: 36px;
  margin-bottom: 10px;
}
.content-img{
  height: 240px;
  width: 160px;
}
.content-wrap{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.content-info{
  max-width: 450px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.content-info>li{
  color: #CAC8C8;
  font-size: 16px;
  font-weight: 500;
}
.info{
  color: #cc9c3b;
  font-size: 16px;
}
.info:hover{
  text-decoration: underline;
}
.description{
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
.trailer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-color: #1F1F1F;
  color:#fff;
  padding: 10px 15px;
  border-radius: 3px;
  width: 100px;
  height: 25px;
  position: relative;
  font-size: 12px;
}
.trailer:hover{
  color:#cc9c3b;
}
.video{
  position: absolute;
  margin-top: -2px;
}
.add-form{
  margin: 50px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgb(192, 16, 16);
  padding: 20px;
}

.poster-wrap{
  display: flex;
  flex-direction: column;
}

.movie-rating{
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 160px;
  background: #1e1e1e;
  text-align: center;
  padding: 8px;
  color: #fff;
  font-size: 12px;
}
.rating-stars{
  color: #cc9c3b;
}